<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="netonemusic.com.dao.CdMapper">
  <resultMap id="BaseResultMap" type="netonemusic.com.entity.Cd">
    <!--@mbg.generated-->
    <id column="cd_id" jdbcType="INTEGER" property="cdId" />
    <result column="cd_name" jdbcType="VARCHAR" property="cdName" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="song_count" jdbcType="INTEGER" property="songCount" />
    <result column="publish_date" jdbcType="DATE" property="publishDate" />
    <result column="singer_id" jdbcType="INTEGER" property="singerId" />
    <result column="cd_introduce" jdbcType="VARCHAR" property="cdIntroduce" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    cd_id, cd_name, cover_url, song_count, publish_date, singer_id, cd_introduce, comment_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from cd
    where cd_id = #{cdId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from cd
    where cd_id = #{cdId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="cd_id" keyProperty="cdId" parameterType="netonemusic.com.entity.Cd" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cd (cd_name, cover_url, song_count, 
      publish_date, singer_id, cd_introduce, 
      comment_count)
    values (#{cdName,jdbcType=VARCHAR}, #{coverUrl,jdbcType=VARCHAR}, #{songCount,jdbcType=INTEGER}, 
      #{publishDate,jdbcType=DATE}, #{singerId,jdbcType=INTEGER}, #{cdIntroduce,jdbcType=VARCHAR}, 
      #{commentCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="cd_id" keyProperty="cdId" parameterType="netonemusic.com.entity.Cd" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cdName != null">
        cd_name,
      </if>
      <if test="coverUrl != null">
        cover_url,
      </if>
      <if test="songCount != null">
        song_count,
      </if>
      <if test="publishDate != null">
        publish_date,
      </if>
      <if test="singerId != null">
        singer_id,
      </if>
      <if test="cdIntroduce != null">
        cd_introduce,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cdName != null">
        #{cdName,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="songCount != null">
        #{songCount,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null">
        #{publishDate,jdbcType=DATE},
      </if>
      <if test="singerId != null">
        #{singerId,jdbcType=INTEGER},
      </if>
      <if test="cdIntroduce != null">
        #{cdIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="netonemusic.com.entity.Cd">
    <!--@mbg.generated-->
    update cd
    <set>
      <if test="cdName != null">
        cd_name = #{cdName,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        cover_url = #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="songCount != null">
        song_count = #{songCount,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null">
        publish_date = #{publishDate,jdbcType=DATE},
      </if>
      <if test="singerId != null">
        singer_id = #{singerId,jdbcType=INTEGER},
      </if>
      <if test="cdIntroduce != null">
        cd_introduce = #{cdIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
    </set>
    where cd_id = #{cdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="netonemusic.com.entity.Cd">
    <!--@mbg.generated-->
    update cd
    set cd_name = #{cdName,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      song_count = #{songCount,jdbcType=INTEGER},
      publish_date = #{publishDate,jdbcType=DATE},
      singer_id = #{singerId,jdbcType=INTEGER},
      cd_introduce = #{cdIntroduce,jdbcType=VARCHAR},
      comment_count = #{commentCount,jdbcType=INTEGER}
    where cd_id = #{cdId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-09-02-->
  <select id="findAllBySingerId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cd
        where 1=1
        <if test="singerId != null">
            and singer_id=#{singerId,jdbcType=INTEGER}
        </if>
    </select>
</mapper>