<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="netonemusic.com.dao.UserMapper">
  <resultMap id="BaseResultMap" type="netonemusic.com.entity.User">
    <!--@mbg.generated-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_birthday" jdbcType="VARCHAR" property="userBirthday" />
    <result column="user_area" jdbcType="VARCHAR" property="userArea" />
    <result column="user_sign" jdbcType="VARCHAR" property="userSign" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, user_password, user_name, user_sex, user_birthday, user_area, user_sign, 
    user_avatar
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="netonemusic.com.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user (user_id,user_password, user_name, user_sex,
      user_birthday, user_area, user_sign, 
      user_avatar)
    values (#{userId,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR},
      #{userBirthday,jdbcType=VARCHAR}, #{userArea,jdbcType=VARCHAR}, #{userSign,jdbcType=VARCHAR}, 
      #{userAvatar,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="netonemusic.com.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userBirthday != null">
        user_birthday,
      </if>
      <if test="userArea != null">
        user_area,
      </if>
      <if test="userSign != null">
        user_sign,
      </if>
      <if test="userAvatar != null">
        user_avatar,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=VARCHAR},
      </if>
      <if test="userArea != null">
        #{userArea,jdbcType=VARCHAR},
      </if>
      <if test="userSign != null">
        #{userSign,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null">
        #{userAvatar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="netonemusic.com.entity.User">
    <!--@mbg.generated-->
    update user
    <set>
      <if test="userPassword != null and userPassword !='' ">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName !='' ">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null and userSex !='' " >
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null and userBirthday !='' ">
        user_birthday = #{userBirthday,jdbcType=VARCHAR},
      </if>
      <if test="userArea != null and userArea !='' " >
        user_area = #{userArea,jdbcType=VARCHAR},
      </if>
      <if test="userSign != null and userSign !='' ">
        user_sign = #{userSign,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null and userAvatar !='' ">
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="netonemusic.com.entity.User">
    <!--@mbg.generated-->
    update user
    set user_password = #{userPassword,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_birthday = #{userBirthday,jdbcType=VARCHAR},
      user_area = #{userArea,jdbcType=VARCHAR},
      user_sign = #{userSign,jdbcType=VARCHAR},
      user_avatar = #{userAvatar,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
    <select id="searchUser" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from user where user_name like '%${Keyword}%'
    </select>
</mapper>